.css-is-awesome {
  scrollbar-width: auto;
  scrollbar-color: #fff #000;
}

.css-is-awesome ::-webkit-scrollbar {
  height: 24px;
}

.css-is-awesome ::-webkit-scrollbar-track {
  background: #000;
}

.css-is-awesome ::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px;
  border: 5px solid #000;
}
